.newsall{
  display: grid;
  /* grid-template-columns: 420px 420px 415px; */
  grid-template-columns: 310px 310px 310px 310px;
}

.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.3rem;
  padding: 2rem 3rem 2rem 3rem ;
    justify-content: space-between;
    align-items: center;
    display: flex;
}